<h1>Dashboard#index</h1>
<div class="container">
  <div class="row">
    <div class="cols">
      <%= link_to("New Dashboard", dashboard_new_path) %>
      <ul>
        <% @dashboards.each do |dashboard| %>
          <li>
            <%= link_to(dashboard.name, show_dashboard_path(dashboard)) %> | <%= link_to("Edit", edit_dashboard_path(dashboard)) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
