<b><%= question.text %></b><br>
<% @member = TeamMember.find_by_user_id(current_user.id) %>
<div>
  <b><%= f.label question.text.to_sym %></b><br>
  <%= f.select( question.label.to_sym, Date::MONTHNAMES.each_with_index { |m, i| [m, i] }) %>
</div>
