<b><%= question.text %></b><br>
<% @member = TeamMember.find_by_user_id(current_user.id) %>
<div>
  <%= f.label :team %><br>
  <%= f.select :organization_id, @member.organization_roles.collect { |t| [t.organization.name, t.organization.id] }, include_blank: false %>
</div>
