<h1>Questionnaire#index</h1>
<ul>
  <% @questionnaires.each do |questionnaire| %>
    <li>
      <%= link_to(questionnaire.name, show_questionnaire_path(questionnaire)) %>
    </li>
  <% end %>
</ul>
<%= link_to("New Questionnaire", questionnaire_new_path) %>
