<div class="container">
  <div class="row align:left">
    <div class="cols-sm">
      <h1>Organization: <%= @org.name %></h1>
    </div>
    <div class="cols-sm">
      <%= link_to("Add Child Org", add_organization_path(@org)) %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      Child Orgs
    </div>
  </div>
  <div class="row">
    <div class="cols-sm">
    <ul>
      <% @org.organizations.each do |child| %>
        <li>
          <%= link_to(child.name, organization_path(child)) %>
        </li>
      <% end %>
    </ul>
    </div>
  </div>
</div>
