<div class="row">
  <div class="cols-md-auto">
    <h1>MetricTypes</h1>
  </div>
</div>
<div class="row">
  <div class="cols-md-auto">
    <ul>
      <% @metric_types.each do |type| %>
      <li>
        <b><%= type.name %></b> - <%= type.description %><br>
        <%= link_to("Delete", delete_metric_type_path(type)) %>
      </li>
      <% end %>
    </ul>
    <%= link_to("Add Type", metric_type_new_path) %>
  </div>
</div>
