<% div_id = "table_" + widget.id.to_s %>
<div id="<%= div_id %>">
  <% data = widget.generate %>
  <div class="row">
    <div class="cols-*">
      <h3>Quantitative Metrics</h3>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <% data.keys.sort.each do |month| %>
          <th scope="col">
            <%= month %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% key = data.keys[0] %>
    <% data[key].keys.sort { |a,b| a <=> b }.each do |metric| %>
        <tr>
          <th scope="row">
            <%= metric %>
          </th>
          <% data.keys.sort.each do |month| %>
            <td align="center">
              <% stat = data[month][metric]['value'] %>
              <%= data[month][metric]['type'].aggregation_method =~ /sum/i ? stat.to_s : stat.to_s + '%' %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
